/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}
.field_with_errors {
  display: inline-block;
  input,
  textarea {
    border: 1px solid red;
  }
}
.text-invalid {
  color: #bbb;
}
.text-active {
  font-weight: bold;
  color: #0a0;
}
h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
input,
textarea,
select {
  padding: 8px;
}
.title {
  padding: 10px;
}
header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  background-color: #FFFFCC;
  top: 0;
  left: 0;
  * {
    position: relative;
    z-index: 100;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    .logo {
      padding: 10px 10px;
      font-family: "Century";
      font-size: 20px;
      text-decoration: none;
    }
    ul {
      justify-content: flex-end;
      p {
        padding: 10px 20px 10px 10px;
      }
      li {
        list-style: none;
        a {
          display: block;
          min-width: 90px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          color: #000;
        }
      }
      li:hover {
        cursor: pointer;
        background-color: #000;
        a {
          color: #fff;
        }
      }
    }
  }
}
main {
  padding: 100px 0;
}
footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}
th {
  border-style: solid;
  border-color: #aaa;
  background-color: #ddd;
}
td {
  padding: 10px;
  border-style: solid;
  border-color: #aaa;
}
table.has_border {
  width: 100%;
  thead {
    th {
      border-width: 1px 1px 0;
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border-width: 1px 1px 0;
      }
    }
    tr:last-child {
      td {
        border-width: 1px;
      }
    }
  }
}
table.end_user_info {
  width: 100%;
  padding: 10px 30px;
  thead {
    th:first-child {
      width: 30%;
    }
    th:last-child {
      width: 30%;
    }
  }
}
table.end_user_info {
  tbody {
    tr:nth-child(n+3) {
      td:nth-child(2) {
        padding-left: 55px;
      }
    }
  }
}
table.end_user_form{
  tbody {
    tr:nth-child(n+3) {
      td:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}
.image_field {
  width: 220px;
  text-align: center;
  p {
    margin-top: 10px;
    text-align: left;
  }
}

.content {
  width: 780px;
}

